.pantallaDePagoChild {
  position: absolute;
  top: 849px;
  left: 178px;
  border-radius: 50%;
  width: 73px;
  height: 73px;
  object-fit: cover;
}
.image1Icon,
.mugHotAlt1Icon,
.roomService1Icon,
.sandwich1Icon {
  position: absolute;
  top: 844px;
  left: 357px;
  width: 65px;
  height: 76px;
  object-fit: cover;
}
.mugHotAlt1Icon,
.roomService1Icon,
.sandwich1Icon {
  left: 95px;
}
.roomService1Icon,
.sandwich1Icon {
  left: 269px;
}
.sandwich1Icon {
  left: 8px;
}
.pantallaDePagoInner,
.pantallaDePagoItem {
  position: absolute;
  top: 829.5px;
  left: 168.5px;
  width: 4px;
  height: 102.5px;
}
.pantallaDePagoInner {
  left: 257.5px;
}
.lineIcon,
.pantallaDePagoChild1 {
  position: absolute;
  top: 828px;
  left: 3px;
  width: 169px;
  height: 4px;
}
.pantallaDePagoChild1 {
  left: 259px;
}
.pantallaDePago {
  position: relative;
  background-color: var(--color-silver);
  width: 100%;
  height: 932px;
  overflow: hidden;
}
